<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">The bulk of our work focuses on Social Practice Art and its intersection with Technology.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2011</h4>
                                    <h4 class="subheading">The Beginning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We met through mutual friends sometime in 2010 or 2011. No one can really remember. We started eating brunch with each other, eventually forming the Joy Brunch Club. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.JPG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">Joyography</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We started scheming to create a project for <a href="http://openengagement.info" target="_blank">Open Engagement</a> in late 2011. Lisa has never understood what Steve did for work, so they decided to collaborate on a project at the intersection of their interests: space and joy. Joyography was born. We built a mapping platform to accept information on the Public's favorite places around Portland.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">Affirmation Hotline</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After hearing about the Twilio API and seeing some interesting projects built with it, we decided to build a telephone hotline for Open Engagement. Often, when you call up a telephone system, the experience is so dreadful. You navigate confusing and ill-conceived menus, listen to low-bit rate hold music, all to eventually talk to a human who often tells you the opposite of whatever you want to hear. So we built a phone system to remedy that. You call it up and it tells you something nice. It gives you words of encouragement. It'll play youa pretty song. Or if you don't want to hear anything, you can always just send it a text message.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Are You Your Work?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">For this project, we wanted to get at the connection between identity and employment. How many people identify so much with their occupation that they think it defines them?</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
